body::-webkit-scrollbar {
  display: none;
  }

.arcadia-gif {
  width:17%;
  height: 6%;
  position: absolute;
  left: 41.5%;
  top: 30%;
}

.background-image {
  width: 100%;
  height: 130%;
  position: absolute;
  left: 0;
  z-index: -1;
}

.stars-gif {
  width: 50%;
  height: 70%;
  position: absolute;
  top: 17%;
  left: 25%;
  z-index: -2;
}

.login {
  position: absolute;
  top: 20%;
  height: 100%;
  width: 100%;
}

.buttonArea {
  justify-self: center;
  position:absolute;
  top: 50%;
  left: 38%;
  height: 50px;
}

.buttonArea button {
  height: 100%;
  width: 100%;
  font-size: 180%;
  font-family: 'Press Start 2P', cursive;
  color: #ffffff;
  background: none;
  border: 0;
  transition: all 0.5s;
  cursor: pointer;
}

.linkArea a{
  position: absolute;
  top: 70%;
  left: 38%;
  height: 3.5%;
  width: 25%;
  font-size: 180%;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  color: #ffffff;
  background: none;
  border: 0;
  transition: all 0.5s;
}

.startArrow {
  position: relative;
  width: 25px;
  top: 51%;
  left: -2%;
  font-size: 180%;
  font-family: 'Press Start 2P', cursive;
  color: #ffffff;
}

.characterArrow {
  width: 25px;
  position: absolute; 
  top: 50%;
  font-size: 180%;
  font-family: 'Press Start 2P', cursive;
  color: #ffffff;
}

.textbox {
  font-family: 'Press Start 2P', cursive;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16%;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 0 15px;
  text-align: center;
  font-size: 17px;
  outline: none;
}

.textbox::placeholder {
  color: #999;
  font-style: italic;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox-label {
  font-family: 'Press Start 2P', cursive;
  font-size: 180%;
  color: #ffffff;
  margin-left: 10px;
  cursor: pointer;
  position: absolute;
  top: 56%;
  left: 40.4%
}

.checkbox-input {
  appearance: none; /* Remove o estilo padrão */
  position: absolute;
  width: 25px;
  height: 25px;
  top: 55.7%; 
  left: 38.5%;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.checkbox-input:checked {
  background-color: #ffffff;
}

.checkbox-input:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background-color: #000000;
  border-radius: 3px;
}
